* {
	margin: 0 auto;
}

div {
	outline: 0px dotted red;
	font-family: 'Century Gothic';
}

.jumbotron {
	padding-top: 0px;
	padding-bottom: 0px;
	margin-bottom: 0px;
}

/*HEADER*/
.main-menu {
	background-color: #fff; /*custom color*/
	color: #000;
	text-transform: uppercase;
}

.main-menu .navbar .navbar-toggle, .navbar-header > button > span {
    border-color: #3C3F52;
}

.navbar-header {
	position: relative;
	min-height: 80px;
}

.navbar-collapse > ul {
	margin-top: 15px;
	text-align: center;
}

.navbar-collapse > ul > li > a {
	display: inline-block;
	outline: none;
}

.navbar-collapse > ul > li > a:hover {
	background-color: transparent;
	color: #632832;
}

.navbar-collapse > ul > li > a:focus {
	background-color: transparent;
}

.navbar-collapse > ul > li.active > a {
	color: #DAA520;
}

.navbar-header > button > span {
	background-color: #3C3F52;
}

.navbar-brand > img {
	height: 70px;
	position: absolute;
	top: 5px;
	left: 10px;
}

button.navbar-toggle {
	position: relative;
	top: 16px;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
	.navbar-brand > img {
		height: 55px;
		position: absolute;
		top: 10px;
		left: -15px;
	}	
}

@media screen and (min-width: 360px) and (max-width: 768px) {
	.navbar-brand > img {
		height: 55px;
		position: absolute;
		top: 15px;
		left: 15px;
	}	
}

@media screen and (min-width: 320px) and (max-width: 360px) {
	.navbar-brand > img {
		height: 45px;
		position: absolute;
		top: 20px;
		left: 15px;
	}	
}

.navbar {
	margin-bottom: 0px;
}

.navbar a {
	margin: 0px;
	max-width: 200px;
	color: #3C3F52;
}

.nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
    background-color: transparent;
}

.navbar a:focus {
	background-color: transparent;
}


.subheader {
	height: 60px;
	color: #fff;
	background-color: #3C3F52;
}

.subheader h1 {
	text-transform: uppercase;
	font-size: 1.1em;
	margin-bottom: 15px;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
	.subheader {
		height: 125px;
		color: #fff;
		background-color: #3C3F52;
	}
}

.tel-email {
	padding: 10px;
}

.email, .email:hover, .email:active, .email:focus {
	color: #fff;
}
/*./HEADER*/

/*CONTENT*/
/*top-slider*/
.item {
	position: relative;
}

.item input {
	position: absolute;
	top: 81%;
	width: 200px;
	height: 50px;
	left: calc(50% - 100px);
	color: #fff;
	background-color: rgba(0,0,0,0.3);
	border-radius: 50px;
	border: 2px solid #fff;
}


@media screen and (max-width: 1280px) {
	.item input {
		width: 180px;
		height: 40px;
		left: calc(50% - 90px);
		font-size: 0.8em;
		top: 78%;
	}	
}

@media screen and (max-width: 1024px) {
	.item input {
		width: 140px;
		height: 35px;
		left: calc(50% - 70px);
		font-size: 0.7em;
		top: 74%;
	}	
}

@media screen and (max-width: 768px) {
	.item input {
		width: 140px;
		height: 35px;
		left: calc(50% - 70px);
		font-size: 0.7em;
		top: 70%;
	}	
}

@media screen and (max-width: 550px) {
	.item input {
		display: none;
	}	
}

/*./top-slider*/

/*main-page content*/
.text-frame {
	background-color: #fff;
	text-align: justify;
	min-height: 370px;
}

.text-frame img, .text-frame h2 {
	margin-top: 60px;
}

.text-frame h2 {
	line-height: 0.8em;
	margin-bottom: 30px;
	text-align: left;
}

@media screen and (max-width: 768px) {
	.text-frame h2 {
		font-size: 1.7em;
	}
}

@media screen and (max-width: 768px) {
	.text-frame span {
		font-size: 1.2em;
	}
}

.text-frame img, .text-frame p, .text-frame ul {
	width: 100%;
	margin-bottom: 60px;
}

.price-content input, .modal button, .order input {
	background-color: #3C3F52;
	color: #fff;
	text-transform: uppercase;
	border-width: 0px;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px 30px;
	border-radius: 50px;
}

.order input {
	margin-bottom: -10px;
}

.price-content input:hover, .modal button:hover, .order input:hover {
	color: #632832;
}

.price-content input:focus, .modal.fade.in button:focus, .btn:focus, .order input:focus {
	outline: none;
	border: 1px solid #632832;
	color: #632832;
	background-color: #43435A;
}

div.text-frame li {
	list-style-type: circle; 
	font-size: 1.5em;
	text-align: left;
}

@media screen and (max-width: 768px) {
	div.text-frame li { 
		font-size: 1.2em;
	}
}
/*./main-page content*/

/*album-page content*/
.albums {
	outline: 0px solid blue;
}

.albums > .row div {
	outline: 0px solid green;
}

.img-container {
	padding: 15px;
}

.img-container img {
	width: 100%;
	margin: 5px 0 5px 0;
}

.img-container a > span {
	color: #000;
	font-style: italic;
}

.img-container a:hover {
	text-decoration: none;
}

.img-container a:hover > span {
	color: #632832;
}
/*./album-page content*/

/*gallery page*/
.gallery {
	margin: 15px 0px;
}

.gallery #links {
	text-align: center;
	vertical-align: middle;
  	font-size: 0;
}

@media screen and (min-width: 1024px) {
	.albums, .contacts {
		min-height: 685px;
		margin-bottom: 25px;
	}
}

.gallery #links img {
	margin: 0px 2px 4px 2px;
}

@media screen and (max-width: 480px) {
	.gallery #links img {
		width: 100%;
	}
}
/*./gallery page*/

/*feedback page*/
.feedback-item {
	margin: 15px 0px;
	font-weight: bold;
}

h5.positive {
	color: green;
}

h5.negative {
	color: brown;
}

.feedback-item span {
	font-style: italic;
	font-weight: normal;
}
/*./feedback page*/

/*contacts page*/
.social-media a > img {
	width: 40%;
	margin: 30px 0px; 
}
.contact-form input:first-child {
	margin-top: 30px;
}
.contact-form input, .contact-form textarea {
	width: 100%;
	margin: 5px 0px;
	padding: 5px 10px;
}

.contact-form input.standart-button {
	border-radius: 50px;
	padding: 10px;
}

.input-email {
	width: 50%;
}

.contacts h2 {
	margin-top: 30px;
}
/*./contacts page*/
/*./CONTENT*/

/*FOOTER*/
footer {
	background-color: #3C3F52;
	color: #fff;
	padding-top: 10px;
	padding-bottom: 10px;
}

footer > div > div {
	margin: 10px 0 10px 0;
}

.footer-logo > img {
	width: 250px;
}

.social-media-footer, .contacts-footer {
	text-align: right;
}

.social-media-footer img {
	width: 40px;
}
/*./FOOTER*/

/*MISC*/
/*modal*/
.modal {
	margin-top: 0px;
}

.modal-header {
	text-transform: uppercase;
	background-color: #3C3F52;
	color: #fff;
	font-size: 1.4em;
	position: relative;
}

.modal-header .square-button {
	position: absolute;
	top: -3px;
	left: 80%;
}

.modal-header .square-button:hover {
	background-color: transparent;
}

.modal-content {
	text-align: center;
	border-radius: 0;
    height: 750px;
    overflow: scroll;
}

/*close-button in modal*/
.close-button {
	position: absolute;
	left: 100%;
	top: 8px;
	width: 32px;
	height: 32px;
}

.close-button:before, .close-button:after {
	position: absolute;
	left: 15px;
	content: ' ';
	height: 33px;
	width: 2px;
	background-color: #fff;
}

button.square-button:focus, button.square-button:active {
	outline: none;
	background-color: transparent;
	border-width: 0px;
}

.close-button:before {
	transform: rotate(45deg);
}
.close-button:after {
	transform: rotate(-45deg);
}
/*./close-button in modal*/

@media screen and (max-width: 768px) {
	.modal-content {
	    text-align: center;
	    border-radius: 0;
	    height: 600px;
	    overflow: scroll;
	}

	.modal-header {
		font-size: 1.2em;
	}

	.modal-header .square-button {
		left: 80%;
		bottom: 10px;
		width: 20px;
	}

	.close-button {
		top: 5px;
	}
}

@media screen and (min-width: 400px) and (max-width: 767px) {
	.modal-content {
	    text-align: center;
	    border-radius: 0;
	    height: 600px;
	    overflow: scroll;
	}

	.modal-header {
		font-size: 1.4em;
	}

	.modal-header .square-button {
		left: 85%;
		bottom: 5px;
		width: 10px;
	}

	.close-button {
		top: 7px;
		left: 10px;
	}
}

@media screen and (min-width: 350px) and (max-width: 399px) {
	.modal-content {
	    text-align: center;
	    border-radius: 0;
	    height: 550px;
	    overflow: scroll;
	}

	.modal-header {
		font-size: 1.20em;
	}

	.modal-header .square-button {
		left: 84%;
		bottom: 0px;
		width: 10px;
	}

	.close-button {
		left: 10px;
	}
}

@media screen and (min-width: 320px) and (max-width: 349px) {
	.modal-content {
	    text-align: center;
	    border-radius: 0;
	    height: 450px;
	    overflow: scroll;
	}

	.modal-header {
		font-size: 1.0em;
	}

	.modal-header .square-button {
		left: 82%;
		bottom: 0px;
		width: 10px;
	}

	.modal-header .close-button {
		left: 10px;
		margin-top: -3px;
	}
}
/*./modal*/

/*alignment*/
.left {
	text-align: left; 
}

.center { 
	text-align: center; 
}

.right {
	text-align: right; 
}
/*./alignment*/

/*standart button*/
.standart-button {
	background-color: #3C3F52;
	color: #fff;
	text-transform: uppercase;
	border-width: 0px;
	padding: 10px 30px;
	border-radius: 50px;
}

.standart-button:hover {
	color: #632832;
	background-color: #43435A;
}

.standart-button:focus {
	outline: none;
}

button.square-button {
	border-radius: 0px;
}

button.square-button:hover {
	color: orange;
}

button.square-button:focus {
	outline: none;
}

input.top-button {
	margin: 15px 0px;
}

input.bottom-button {
	margin: 15px 0px;
}
/*./standart button*/

/*form outline*/
form > input:focus, form > textarea:focus, button:focus {
	outline: none;
	border: 1px solid #632832;
}
/*.*form outline*/

.no-padding {
	padding-left: 0px;
	padding-right: 0px;
}

.shadow {
	box-shadow: 0 0 10px rgba(0,0,0,0.4)
}

.white-bg {
	background-color: #fff;
}

.center {
	text-align: center;
}
/*./MISC*/